/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* LAYOUT */

.container {
  max-width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
  align-items: center;
}


/* COMMON */

body {
  background-image: url(https://cdn.vectorstock.com/i/500p/11/93/retro-vintage-mid-century-pattern-in-70s-style-vector-45091193.jpg);
  
}

/* Typography */

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  color: #f3c7aa;
}

h2 {

}


/* HEADER */

header {
  background-color: lightgoldenrodyellow;
  height: 80px;
  margin-bottom: 20px;
}

/* MAIN */

.blog-card {
  background-color: #fbf4c6;
  height: auto;
  max-width: 70%;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px 50px;
}

.card-title {
padding: 5px 0;
border-bottom: 1px solid #7dcfb8;
color: #faa806;
}

.card-body {
padding: 10px 0;
color: rgb(0, 25, 29);
}