/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* LAYOUT */

.container {
  max-width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
  align-items: center;
}


/* COMMON */

body {
  background-image: url(https://cdn.vectorstock.com/i/500p/11/93/retro-vintage-mid-century-pattern-in-70s-style-vector-45091193.jpg);

}

ul {
  list-style: none;
}

button {
  margin: 0 5px;
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 900;
}

.submit {
  color:  #faa806;
  text-align: center;
  background-color: white;
  padding: 5px 5px;
  margin: 5px;
}

/* Typography */

body {
  font-family: Arial, Helvetica, sans-serif;
}


h1 {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  color: #f3c7aa;
}

h2 {
  color: #faa806;
}

h3 {

  color: #83ccb8;
text-shadow: 2px 2px 4px white;
}

/* HEADER */

header {
  background-color: lightgoldenrodyellow;
  height: 80px;
  margin-bottom: 20px;
}

/* MAIN */

.blog-card {
  background-color: #fbf4c6;
  height: auto;
  max-width: 70%;
  border-radius: 20px;
  margin-bottom: 40px;
  padding: 10px 50px;
}

.card-title {
  padding: 5px 0;
  border-bottom: 1px solid #7dcfb8;

}

.card-body {
  padding: 10px 0;
  color: rgb(0, 25, 29);
}